body {
    font-family: "Gill Sans Extrabold", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #d34b1d, #bff802);
  }

  .calculator-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px;
  }

  .calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
    text-align: right;
    font-size: 1.5rem;
  }

  .display {
    grid-column: span 4;
    padding: 20px;
    font-size: 1.2rem;
    background-color: #f0f0f0;
    border-bottom: 2px solid #ccc;
  }

  .btn {
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
    background-color: #2d64e4;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    border-radius: 50px 50px;
  }

  .btn:hover {
    background-color: #000000;
  }

  #btn-clear {
    grid-column: span 2;
    background-color: #f44336;
  }

  #btn-clear:hover {
    background-color: #d32f2f;
  }

  #btn-backspace {
    grid-column: span 2;
    background-color: #050504;
    color: #fff1f1;
  }

  #btn-backspace:hover {
    background-color: #757272;
  }

h1{
  text-align: center;
}